<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Unitop</h1>
    <h2 class="uni">Welocme uni-students</h2>
    <h2 class="poten">know your potential and know where you stand in your college</h2>
    <div class="holder">
        <a href="/signup" class="sign"><button>Signup</button></a>
        <a href="/login" class="log"><button>Login</button></a>
    </div>
   
</body>
</html>
