<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leetcode profile scrapper</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Leetcode profile scrapper</h1>
        <form action="/scrape" method="post">
            <label for="leetcodeUrl">Enter your leetcode profile url:</label>
            <input type="url" name="leetcodeUrl" id="leetcodeUrl" required>
            <button type="submit">Get profile info</button>
        </form>
    </div>
</body>
</html>